@font-face {
    font-family: 'public-pixel';
    src: url("assets/fonts/public-pixel.ttf");
}

body {
    -webkit-font-smoothing: never;
    font-family: public-pixel;
    color: white;
    background-color: black;
    width: 50%;
    margin: auto;
}

header {
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 40px;
}

table {
    width: 100%;
    table-layout: fixed;
    font-size: 25px;
    border: 0px;
}

tr:hover {
    background-color: #4a4a4a;
}

th {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0px;
}

td {
    width: 0.1%;
    white-space: nowrap;
    text-align: center;
    border: 0px;
}

input[type=number] {
    font-family: 'public-pixel';
    background-color: black;
    color: white;
    width: 20%;
    height: 40px;
    padding: 0px 5px 0px 5px;
    margin: 20px 0px 20px 0px;
    float: left;
    font-size: 40px;
    text-align: center; 
    overflow-y: hidden;
    outline: none;
    border: 1px solid grey;
}
    
    input:focus {
        outline: none;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }